venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
frontend/node_modules/
frontend/.next/
"backend/models/qwen_generator_model/model.safetensors" 
backend/models/qwen_generator_model/model.safetensors 
